<configuration>

    <!-- Configuration du niveau de log global -->
    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="File" />
    </root>

    <!-- Configuration de l'appender console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuration de l'appender fichier -->
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>presence.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>
